$primary: #ED27FF;
$secondary: #0712A8;
$warning: #FF7A27;
$info: #50D20F;
$error: #E72227;
$white: #FFFFFF;
$black01: #B0B0B0;
$black02: #A0A0A0;
$black03: #909090;
$black04: #808080;
$black05: #707070;
$black06: #606060;
$black07: #505050;
$black08: #404040;
$black09: #292929;
$black10: #191919;
$transparent: transprent;

$font9: 9px;
$font10: 10px;
$font11: 11px;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
$font32: 32px;
$font36: 36px;
$font40: 40px;
$font44: 44px;
$font48: 48px;

$pc: '1440px';
$tab: '768px';
$mobile: '480px';

// fonts 변수
$Spoqa: "Spoqa Han Sans Neo", sans-serif;
$Astounder: "astounder-squared-bb", sans-serif;
$Abhaya: "Abhaya Libre", sans-serif;
$AppleSD: "Apple SD Gothic", sans-serif;
$NotoKr: "Noto Sans", "Noto Sans CJK KR", sans-serif;
$Roboto: "Roboto", sans-serif;
